@use '../abstracts' as a;
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5 {
  font-family: a.$sans-font;
}

h6,
p,
ol,
ul,
a,
label,
span,
input {
  font-family: a.$sans-font;
  font-size: a.$font-size-normal-text;
}

p {
  margin: 1.6rem 0;
}

#skip-link {
  position: absolute;
  top: -9999px;
  color: a.$white-color;
  background-color: a.$dark-secondary-color;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

#skip-link:focus {
  position: relative;
  top: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  header {
    flex: 0;
  }

  .section-app-form {
    padding: 0 2rem;
  }

  .section-app-content,
  .section-app-form {
    flex: 1;
  }

  footer {
    flex: 0;
  }
}
