@use '../abstracts' as a;

.app-content {
  @include a.base-layout;
  @include a.link;

  & > h2 {
    font-weight: bold;
    font-size: 2.6rem;
    border-bottom: 1px solid lighten(a.$light-gray-color, 10%);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .profile-details {
    padding: 0 0 2rem;

    h2 {
      font-weight: bold;
      font-size: 2rem;
      border-bottom: 1px solid lighten(a.$light-gray-color, 10%);
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }
  }

  .profile-name {
    font-size: 1.8rem;
  }

  .profile-item {
    margin-left: 2rem;
  }

  .quiz-score {
    font-size: 1.8rem;
  }

  .centered {
    @include a.centered;

    h2 {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .dashboard-quiz {
    margin: 1rem 0;
    min-height: 450px;

    .quiz-tools {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 1.5rem;
      background-color: a.$dark-secondary-color;
      color: a.$white-color;
      border-radius: a.$base-border-radius;
      padding: 1.25rem 1.5rem;

      @include a.md {
        align-items: center;
        justify-content: space-between;
        gap: 0;
      }

      h2 {
        text-align: center;
        flex: 0 0 450px;
        font-size: 1.8rem;

        @include a.md {
          text-align: left;
        }
      }

      .quiz-select {
        label {
          color: a.$black-color;
        }
        span {
          color: a.$white-color;
          font-size: 1.4rem;
        }
      }
    }

    .quiz-chart {
      border-radius: a.$base-border-radius;
      border: 1px solid a.$light-gray-color;
      padding: 1rem;
      margin: 2rem 0;
      min-height: 450px;

      h3 {
        font-size: 1.6rem;
      }
    }
  }

  .profile-tasks {
    border-top: 1px solid lighten(a.$light-gray-color, 10%);
    padding-top: 2rem;
    margin-top: 2rem;

    h4 {
      font-size: a.$font-size-normal-text * 1.1;
    }

    .top-list {
      border-bottom: 1px solid lighten(a.$light-gray-color, 10%);
      margin-bottom: 2rem;
    }

    .bottom-list {
      border-bottom: 1px solid lighten(a.$light-gray-color, 10%);
    }
  }
}

.home-content {
  div {
    width: 100%;
    margin-bottom: 4rem;

    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }

    figure {
      border: 1px solid lighten(a.$light-gray-color, 10%);
      border-radius: a.$base-border-radius;
      overflow: hidden;
      max-width: 800px;
      margin: 0 auto;

      .image-right {
        width: 100%;
      }

      .image-left {
        width: 100%;
      }
    }
  }
}
